<% include ../partials/header %>
<div id="formcontainer">
<div id="formcont">
    <h1 class="formheader">ADD New Comment</h1>
    <ul id="form">
      <form action="/campgrounds/<%=campground._id %>/comment/new" method="POST">
          <!-- <li><input type="text" placeholder="author" name="author" class="input input1"></li> -->
            <li><input type="text" placeholder="text" name="text" class="input input2"></li>
            <li><button class="input input3">submit</button></li>
        </form>
        <li ><a href="/campgrounds/<%=campground._id%>">Go Back</a></li>
    </ul>
</div>

</div>
<%include ../partials/footer%>