
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>yelp camp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/style.css" />
</head>
<body>
    <ul id="nav">
        <li class="list list1">YelpCamp</li>
        <%if(!currentUser){%>
            <li class="list list2"><a href="/login">Login</a></li>
            <li class="list list3"><a href="/register">Signup</a></li>
       <% }else{%>
           <li class="list list4"><a href='#'><%=currentUser.username.toUpperCase()%></a></li>        
        <li class="list list4"><a href="/logout">Logout</a></li>            
        <%}%>
    </ul>
    <ul id="flash">
       <%if(success && success.length>0){ %>
        <li class="success"><%=success%> </li>
        <%}%>
        <%if(error && error.length>0){ %>
      <li class="error"><h1><%=error%></h1></li>
        <%}%>
    </ul>