<%include partials/header.ejs%>
<div id="landingBody">
    <div id="landingHeader">
        <div id="landing">
            <h1>Welcome To YelpCamp</h1>
            <a href="/campgrounds" class="land">view all campgounds</a>
    
        </div>
    </div>
    <%include partials/footer%>
</div>
