<%include partials/header.ejs%>
<h1>login page</h1>
<form action="/login" method="POST">
    <ul>
     <li><input type="text" placeholder="username" name="username"></li>  
       <li><input type="password" placeholder="password" name="password"></li> 
       <li><button>login</button></li>
    </ul>
</form>

<%include partials/footer%>