<% include partials/header %>
<h1>sign up</h1>
<form action="/register" method="POST">
    <ul>
        <li><input type="text" name="username"></li>
        <li><input type="password" name="password"></li>
        <li><button>register</button></li>
    </ul>
</form>
<% include partials/footer %>

