*{
    margin: 0px;
    padding: 0px;
}

body{
   
    font-family: 'Open Sans', sans-serif;
}
/*//////////////////////====== header////////////////////=========================// */
#nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #9e9e9e8a;
    
}
.list{
    margin-right: 20px;
}

.list1{
    margin-right: auto;
}
#flash {
    margin-left: 80px;
    margin-right: 50px;
    margin-top: 10px;
  
}
.success {
    background-color: #6ee60d80;
    color: #044b04;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
}

.error {
    background-color: #f80c0c66;
    color: #9c1515;
    font-size: 5px;    
    border-radius: 5px;
    padding: 10px 0px 10px 20px;
}
/* //////////////////////======================index===================/////////////////// */
#landcont{
    display: inline-flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    width: 100%;
    
}
#seclandcont {
    margin-left: 80px;
    margin-right: 50px;
}
#header{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 40px;
    padding-top: 90px;
    padding-bottom: 70px;
    /* margin-right: 10px; */
    /* width: 100%; */
    padding-left:60px;
    /* margin-left: 100px; */
    /* background: content-box; */
    background-color: #9e9e9e8a;
    border-radius: 10px;
    margin-top: 10px;

}
.header1{
    flex-wrap: wrap; 
    font-size: 60px;
}
#anchor1{
    width: 150px;
}
.header2{
    width: 200px;
    height:20px;
    background-color:#095a9bfc;
}
a h5{
    border-radius: 5px;
    background-color: #095a9bfc;
    width: 150px;
    margin-right: 5px;
    padding-left: 5px;
    color: white;
}
a{
    text-decoration: none;
    color: #000000d9;
}

#images{
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left:5px;
}
li{
    list-style: none;
}
.image{
    margin-left: 20px;
}
li a h5 {
    border-radius: 5px;
    background-color: #095a9bfc;
    width: 80px;
    padding-right: 5px;
    padding-left: 5px;
    color: white;
    margin-left: 10px;
}
/*===============================landing===================== */
#landingBody{
     /* background-color: black; */
     color: blue;
     z-index: 0;
     opacity: 1;
     animation: bgimage infinite 60s;
     background-repeat: no-repeat;
     background-size: cover;
     
}
#landingHeader{
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    height: 650px;
    align-content:center;    
     justify-content: space-around;
    /* width:1000px;
    height: 1000px;  */
}
@keyframes bgimage{
    0%{
     background-image: url("../imgs/nature1.jpg");  
    }
    20% {
     background-image: url("../imgs/naruto1.jpg");
        
    }
    40% {
     background-image: url("../imgs/nature1.jpg");
        
    }
    60% {
     background-image: url("../imgs/naruto1.jpg");

    }
    80% {
     background-image: url("../imgs/naruto1.jpg");

    }
    100% {
     background-image: url("../imgs/nature1.jpg");

    }

}

#landing{
    text-align: center;
    line-height: 30px;
}
.land{
    margin-top: 30px;
    border:solid #9e9e9e8a thin;
    padding: 7px 7px 10px 7px;
    border-radius: 5px;
    color: white;
    background-color:#1da11de6;
    font-size: 15px;

}

/*==================///////////////////// form=============////////////////////////============/////// */
.formheader{
    text-align: center;
}
#formcontainer{
    display: flex;
    justify-content:center;   
}
#formcont{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.input{
    width: 400px;
    text-align: center;
    padding-top: 7px;
    padding-bottom:7px;
    border-radius: 3px;
    margin-top: 10px;
    border-color: #9e9e9e8a;
    border-radius: 5px;
}
.input3{
    background-color: #095a9bfc;
    color: white;
    font-size: 20px;    
}
li a{
    color: #095a9bfc;
}
/* .land{
    color:#095a9bfc;
} */


/*================================================== show========================*/
/*======================================================== show style ================================*/

#show_container{
    display: flex;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
#show_sidebar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    font-size: 17px;
    border-radius: 5px;
    
}
#info_list{
    margin-top: 20px;
}
.info{
    border:solid #9e9e9e8a thin;
    padding: 7px 200px 7px 20px;
    border-radius: 3px;
}
#show_content{
    margin-left: 21px;
    display: flex;
    flex-direction: column;
    width: 800px;
    
}
#img_fieldset {
    padding: 0px 2px 20px 2px;
    border-radius: 3px;
}
.show_img{
    display: flex;
    justify-content: space-around;
}
.show_name{
    display: flex;
    justify-content: space-between;
}
.show_name h3{
    color: #095a9bfc;
}
#comment_fieldset {
    padding: 18px 10px 20px 10px;
    border-radius: 3px;
    margin: 10px 0px 0px 0px;
}
.comment{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    
}
.comment a{
    border:solid #9e9e9e8a thin;
    /* width: 50px; */
    padding: 3px 10px 7px 10px;
    border-radius: 3px;
    color: white;
    background-color: #54de32;
}
.time{
        display:flex;
        flex-direction: row-reverse;      
}
.edit{
   display:flex;
   /* flex-direction: column; */
   flex-direction: row;
}
.edit a{
     border:solid #9e9e9e8a thin;
     width: 20px;
     padding: 5px 6px 6px 5px;
     border-radius: 3px;
     color: white;
     background-color: #d4a623;
     cursor: pointer;
}
#del{
    display:flex;
    margin-top:3px;
    margin-left: 3px;
    border:solid #9e9e9e8a thin;
    width: 50px;
    padding: 5px 6px 6px 7px;
    border-radius: 3px;
    color: white;
    background-color: #ec1a1a;
    cursor: pointer;
}






















